git+https://github.com/bothub-it/bothub-nlp-celery.git@0.1.24
git+https://github.com/bothub-it/bothub-backend.git@1.0.12
git+https://github.com/bothub-it/bothub-nlp-rasa-utils.git@1.1.18
plac==0.9.6
spacy==2.1.9
Unidecode==1.1.1
urllib3==1.24.3
tensorflow-gpu==2.1.1
requests==2.23.0
